*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background: black;
  color: #fff;
  text-align: center;
}
.item{
  margin: 100px auto 20px auto;
  width: 60%;
 border: 1px solid #7b5050;
 height: 60vh;
 padding: 40px 0 0 0;
}